name: RDP-Ngrok-NRA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Configure RDP Settings
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          netsh advfirewall firewall add rule name="RDP" dir=in action=allow protocol=TCP localport=3389
          Restart-Service -Name TermService -Force

      - name: Create RDP User
        run: |
          $username = "RDP"
          $password = "oibanoi874"
          $securePass = ConvertTo-SecureString $password -AsPlainText -Force
          if (Get-LocalUser -Name $username -ErrorAction SilentlyContinue) { Remove-LocalUser -Name $username }
          New-LocalUser -Name $username -Password $securePass -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member $username
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member $username

      - name: Download & Install Ngoc Rong Awaken
        run: |
          $url = "https://rescdnft97vn.xfplayvn.com/apk/NgocRongAwakenver228.exe"
          $outPath = "$env:TEMP\NgocRongAwaken.exe"
          Write-Host "Đang tải Ngọc Rồng Awaken..."
          Invoke-WebRequest -Uri $url -OutFile $outPath
          
          Write-Host "Đang cài đặt game..."
          # Chạy installer với tham số /S (Silent install)
          Start-Process -FilePath $outPath -ArgumentList "/S" -Wait
          Write-Host "Cài đặt hoàn tất!"

      - name: Install & Configure Ngrok
        run: |
          choco install ngrok -y
          ngrok config add-authtoken ${{ secrets.NGROK }}

      - name: Start Ngrok Tunnel
        shell: pwsh
        run: |
          Start-Process ngrok -ArgumentList "tcp 3389"
          Start-Sleep -Seconds 10
          $ngrok_url = (Invoke-WebRequest -Uri http://127.0.0.1:4040/api/tunnels | ConvertFrom-Json).tunnels[0].public_url
          
          Write-Host "`n" + "="*30
          Write-Host "RDP ACCESS DETAILS"
          Write-Host "Address: $ngrok_url"
          Write-Host "Username: RDP"
          Write-Host "Password: oibanoi874"
          Write-Host "Game: Da duoc cai dat vao o C"
          Write-Host "="*30 + "`n"
          
          while ($true) {
              Write-Host "[$(Get-Date)] Runner is active - Connection: $ngrok_url"
              Start-Sleep -Seconds 300
          }
